.container {
    margin: 0 auto;
}

.product {
    padding-top: 126px;
    padding-bottom: 96px;
    margin: 0 auto;
}
.product__subtitle {
    @extend %titanN;
    font-size: 18px;
    line-height: 38px;
    color: $light-pink-text-color;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;
}
.product__title {
    text-align: center;
    @extend %titanN;
    font-size: 36px;
    line-height: 52px;
    color: $maroon;
    text-transform: uppercase;
    margin-bottom: 64px;
}
.product__list {
    list-style: none;
    
}
.product__item--title {
    text-align: center;
    @extend %titanN;
    font-size: 15px;
    line-height: 38px;
    text-transform: uppercase;
    color: $main-color;
    padding-top: 200px;
    margin-bottom: 34px;
}
.product__item--text {
    text-align: center;
    @extend %dm-sansB;
    font-size: 13px;
    line-height: 20px;
    color:  $main-color;
    width: 173px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.dots {
       display: flex;
       justify-content: center;
       margin-bottom: 34px;
       
}
.dot {
    margin-right: 4px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 6px;
    height: 6px;
}
.arrow {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-image: url(../../images/arrow-right.png);
    background-position: center;
    background-repeat: no-repeat;
    
}
.product__item {
    position: relative;
    padding-bottom: 30px;
    width: 242px;
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 100px;
  
}
.product_pic {
    position: absolute;
    top: -80px;
}


.one {
    background-color: rgb(255, 184, 201);
}
.two {
    background-color: rgb(239, 209, 165);
}
.three {
    background-color: rgb(193, 226, 151);
}

@media (min-width: 768px) {
.product__list {
    display: flex;
    justify-content: space-around;
}
.product__title {
    margin-bottom: 100px;
}
.product__subtitle {
    font-size: 26px;
}
.product__title {
    font-size: 51px;
}
.product__item {
    width: 218px;
}
}
@media (min-width: 1280px) {
    .product__subtitle {
        font-size: 30px;
    }
    .product__title {
        font-size: 60px;
    }
    .product__item {
        width: 330px;
    }
    .product{
        background-image: url(../images/sectionbg3.jpg);
        background-position: center;
      }
      .pt {
          width:270px;
      }


}